{% extends "base.html" %}

{% block content %}
  
    <table class="boggle-board">
        {% for row in board %}
            <tr>
                {% for letter in row %}
                    <td>{{letter}}</td>
                {% endfor %}
            </tr>    
        {% endfor %}
    </table>

    <form id="word-guess-form" method="POST" action="/check/">
      <input id="word-guess-input"type="text"name="guess_word" placeholder="Guess a word!">
      <button id="word-guess-button" type="submit">Submit!</button>
    </form>
    <div id="message-area"></div>
    <div ><h2>Score:<span id="score">0</span></h2></div>
{% endblock %}



<!--[['A', 'M', 'H', 'Y', 'J'], 
    ['H', 'P', 'N', 'U', 'M'], 
    ['D', 'Z', 'V', 'A', 'P'], 
    ['I', 'Q', 'T', 'X', 'C'], 
    ['V', 'E', 'G', 'T', 'M']] -->